/* imported fonts */
@import url("https://fonts.googleapis.com/css?family=Sacramento");
/* custom variables */
/* mixins */
/* properties */
body a {
  text-decoration: none;
  color: none;
}
body a:hover {
  text-decoration: none;
  color: #25A18E;
}
body a:active {
  text-decoration: none;
  color: #9FFFCB;
}
body a:visited {
  text-decoration: none;
}
body a:link {
  text-decoration: none;
}
body ::selection {
  background: #DB93B0;
}
body .container-fluid {
  padding: 0;
}
body .container-fluid .row {
  margin: 0;
}

.section-card, .card {
  background-color: #DBB1BC;
  border: 0;
  text-align: center;
}

/*    header    */
header nav {
  background-color: #F2F2F2;
}
header nav img {
  width: 32px;
  height: 32px;
}
header nav .navbar-brand {
  font: 2em "Sacramento", cursive;
  padding: 0;
  margin: 0;
}
header nav a {
  color: #FF8484;
}
header nav ul {
  width: 100%;
}
header nav ul li {
  padding: 0 20px;
}

/*    jumbotron    */
.jumbotron {
  /* background image */
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 0;
  padding: 0;
  color: white;
}
.jumbotron .banner {
  background-color: rgba(0, 0, 0, 0.4);
  height: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .jumbotron .banner h1, .jumbotron .banner p {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .jumbotron .banner {
    max-height: 50vw;
    padding-left: 2em;
  }
}
.jumbotron .btn-primary {
  color: #84C0C6;
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid #A0A4AA;
  padding: 10px 30px;
  font-size: 0.8rem;
  text-align: center;
}

.bg-faded {
  background-color: white;
}

/* media logos and recommendations area */
main section:nth-child(2) {
  padding: 6em 0;
}
main section:nth-child(2) .card-block {
  font-size: 0.8rem;
  text-align: center;
}
main section:nth-child(2) .card-block img {
  max-width: 100px;
}
main section:nth-child(2) .card-block a {
  display: flex;
  align-items: center;
}
main section:nth-child(2) .card-block a i {
  font-size: 1.2em;
  padding: 0 5px;
}

/* display product images area */
main :nth-child(3) figure {
  padding: 0;
  position: relative;
}
main :nth-child(3) figure figcaption {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*  sign up form  */
main :nth-child(4) {
  background-color: #84C0C6;
  padding: 8em 0 !important;
  color: white;
}
@media screen and (max-width: 576px) {
  main :nth-child(4) button {
    margin: auto;
  }
}
main :nth-child(4) .btn-primary {
  color: white;
  background-color: #707277;
  border-radius: 2px;
  border: 2px solid #A0A4AA;
  padding: 10px 30px;
  font-size: 0.8rem;
  text-align: center;
}

/*    footer    */
footer {
  font-size: 0.8rem;
}
footer div {
  padding: 10px;
}
footer div div a {
  color: #004E64;
  padding-right: 20px;
}
footer :nth-child(2) a {
  color: #004E64;
}
footer :nth-child(2) span {
  color: #004E64;
  display: flex;
  justify-content: center;
}
footer :nth-child(2) span i {
  font-size: 1.2em;
  padding-right: 5px;
}

/*# sourceMappingURL=style.css.map */
