/* custom variables */

$light-grey: #F2F2F2;
$medium-grey: #A0A4AA;
$dark-grey: #707277;
$red: #FF0000;
$transparent: rgba(0, 0, 0, 0);

$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;


/* mixins */

@mixin link($hover, $active) { // define hyperlink properties
  a {
    text-decoration: none;
    color: none;
    &:hover {
      text-decoration: none;
      color: $hover;
    }
    &:active {
      text-decoration: none;
      color: $active;
    }
    &:visited {
      text-decoration: none;
    }
    &:link {
      text-decoration: none;
    }
  }
}

@mixin button($color, $background) { // button style - define parameters : color and background-color
  color: $color;
  background-color: $background;
  border-radius: 2px;
  border: 2px solid $medium-grey;
  padding: 10px 30px;
  @include small-text;
}

@mixin flex-v-center { // flexbox
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin background($url, $size, $repeat) { /* background image */
  background-image: url($url);
  background-size: $size;
  background-repeat: $repeat;
}

@mixin media-logo {
  width: 60%;
  height: auto;
}

@mixin small-text {
  font-size: 0.8rem;
  text-align: center;
}





/* properties */

body {
  @include link(purple, red) ;
  .container-fluid {
    padding: 0;
    .row {
      margin: 0;
    }
  }
}

.section-card, .card {
  background-color: $light-grey;
  border: 0;
  text-align: center;
}


/*    header    */

header {
  nav {
    ul {
      width: 100%;
      li{
        padding: 0 20px;
      }
    }
  }
}


/*    jumbotron    */

.jumbotron {
  @include background("../img/home.jpg", cover, no-repeat);
  background-position: top left;
  margin-bottom: 0;
  @include flex-v-center;

  @media only screen and (min-width: 768px) {
  min-height: 750px;
  }

  .btn-primary {
  @include button($dark-grey, $transparent);
  }
}

.bg-faded {
  background-color: white;
}



/* media logos and recommendations area */

main section:nth-child(2) {
    padding: 6em 0;

    .card-block{
      @include small-text;

      img{
        @include media-logo;
      }
      a{
        display: flex;
        align-items: center;
        i {
         font-size: 1.2em;
          padding: 0 5px;
        }
      }
    }
  }

/* display product images area */

main  :nth-child(3){
    figure {
      padding: 0;
      position: relative;

      figcaption {
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 1.5em;
        @include flex-v-center;
      }
    }
  }

/*  sign up form  */

main  :nth-child(4) {
    background-color: $medium-grey;
    padding: 8em 0 !important;
    color: white;
    button {
      @media screen and (max-width: $breakpoint-mobile) {
        margin: auto;
      }
    }
    .btn-primary {
      @include button(white, $dark-grey);
    }
  }


/*    footer    */

footer {
  font-size: 0.8rem;
  div {
    div {
      a {
        padding: 10px;
      }
    }
  }
  :nth-child(2) {
    span {
      color: $red;
      display: flex;
      justify-content: center;
      i {
        font-size: 1.2em;
        padding: 0 5px;
      }
    }
    :nth-child(2){
      a{
        color: $dark-grey;
      }
    }
  }

}
